@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

main {
  width: 100%;
  margin: 0 auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input {
  @apply mt-1 block w-full px-3 py-2 border  rounded-md shadow-sm focus:outline-none focus:ring-davys-gray focus:border-davys-gray sm:text-sm bg-jet-500 text-silver;
}

label {
  @apply block text-sm font-medium text-silver;
}

.slider-thumb::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: silver;
  cursor: pointer;
}

.slider-thumb::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: silver;
  cursor: pointer;
}

.slider-thumb {
  margin-top: 0;
  appearance: none;
  width: 100%;
  height: 4px;
  background: black;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.slider-thumb:hover {
  opacity: 1;
}

/* .icon {
  fill: #c1bdb3;
  fill: #f8f8f2;
  :hover {
    fill: #f8f8f2;
  }
} */
